#konten0 h1{
	margin:12px auto;
	font-size:23px;
}

#konten0 p{
	font-size:8px;
	padding:0px 10px;
	width:85%;
}

#konten1 h3{
	text-align:center;
	font-size:20px;
	margin:18px auto;
}

#konten1 p{
	text-align:center;
	font-size:12px;
	padding:0px 6px;
	margin:18px 8px;
}

#konten2 h2{
	text-align:center;
	font-size:16px;
}

#konten2 section{
	display:flex;
	flex-direction:column;
	justify-content: center;
	
	padding:0px 100px;
	gap:10px;
	padding:15px;
	margin:20px 25px;
}

#konten2 section h4{
	padding:5px 20px;
	text-align:center;
	flex-grow:3;
	margin:0px auto;
	width:100%;
	font-size:18px;
	box-sizing:border-box;
	align-self: end;
	text-transform:capitalize;
}

#konten2 section p{
	font-size:12px;
	padding:5px 20px;
	flex-grow:8;
	margin:0px auto;
	width:100%;
	box-sizing:border-box;
	align-self: start;
}

#konten2 img{
	width:140px;
	height:140px;
	object-fit: cover;
	flex-grow:1;
	display:block;
	border-radius:15px;
	grid-row: 1 / span 2;
	align-self:center;
}

#konten3 {
	display:grid;
	grid-template-columns:auto auto;
	column-gap:22px;
	padding: 3px 20px;
	width:80%;
	margin:20px auto;
}

#konten3 *{
	text-align:center;
}

#konten3 i{
	padding:25px;
	justify-self: center;
	font-size:30px;
}

#konten3 h3{
	grid-column: 1 / span 2;
}


#konten3 i:nth-of-type(3){
	order:5;
}

#konten3 i:nth-of-type(4){
	order:6;
}

#konten3 p:nth-of-type(3){
	order:7;
}

#konten3 p:nth-of-type(4){
	order:8;
}

#konten4 {
	margin:auto 38px;
}

#konten4 h3{
	font-size:26px;
}

#konten4 p{
	font-size:14px;
}

#konten4 {
	margin:auto 18px;
}

#konten4 h3{
	font-size:20px;
}

#konten4 p{
	font-size:12px;
}

#konten6 h2, #konten5 h2{
	font-size:16px;
}
#konten5 p, #konten5 a, #konten6 a, #konten6 p, #konten2a p, #konten2a a{
	font-size:12px;
}

#konten5 a, #konten6 a, #konten2a a{
	margin:12px auto;
	padding:12px;
	border-radius:20px;
	text-decoration:none;
	color:black;
	width:100%;
	box-sizing:border-box;
}

#konten5, #konten6, #konten2a{
	display:flex;
	flex-direction:column;
	margin:15px 26px;
	padding:8px;
}

#lastkonten h3{
	font-size:18px;
}

#lastkonten p{
	padding:12px 33px;
	font-size:12px;
}